<h3>Comments for <%= @node.hostname %></h3>
<br/>
<form class="form-search" method="post" action="/node/<%= @node.id %>/comment/add">
  <fieldset>
    <input type="text" class="input-medium search-query" placeholder="Add Comment..." name='commenttext' />
    <button type="submit" class="btn">Add</button>
  </fieldsetd>
</form>
