<li class="dropdown">
  <a class="dropdown-toggle" data-toggle="dropdown" href="#">Admin <b class="caret"></b></a>
  <ul class="dropdown-menu">
    <li><a href="/admin/users">Users</a></li>
    <li class="divider"></li>
    <li><a href="/logout">Logout</a></li>
  </ul>
</li>
