<% if @address %>
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">×</button>
    <h3>Confirmation</h3>
  </div>
  <div class="modal-body">
    <p>Please confirm that you would like to delete <em><%= @address.ip_address %></em>. This cannot be undone.</p>
  </div>
  <div class="modal-footer">
    <form id="delete-node" method="post" action="/network/<%= @network.id %>/address/<%= @address.ip_address %>">
      <input type="hidden" name="_method" value="delete">
      <input class="btn btn-danger" type="submit" value="Delete">
      <a href="#" class="btn" data-dismiss="modal">Cancel</a>
    </form>
  </div>
<% end %>
