<!DOCTYPE html>
<html lang='en'>
  <head>
    <title>Inventory</title>
    <link rel="stylesheet" href="bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="bootstrap/css/bootstrap-responsive.css">
    <style>
      /*<![CDATA[*/
        body {
          padding-top: 60px;
        }
      /*]]>*/
    </style>
  </head>
  <body>
    <div class='navbar navbar-fixed-top'>
      <div class='navbar-inner'>
        <div class='container'>
          <a class='btn btn-navbar' data-target='.nav-collapse' data-toggle='collapse'>
            <span class='icon-bar'></span>
            <span class='icon-bar'></span>
            <span class='icon-bar'></span>
          </a>
          <a class='brand' href='/'>Ops Dashboard</a>
          <div class='nav-collapse'>
            <ul class='nav'>
              <li class='active'>
                <a href='#'>Test</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class='container'>
      {{ yield }}
    </div>
  </body>
</html>
