<!DOCTYPE html>
<html lang='en'>
  <head>
    <title>Optopus</title>
    <link rel="stylesheet" href="bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="bootstrap/css/bootstrap-responsive.css">
    <link rel="stylesheet" href="css/styles.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="bootstrap/js/boostrap-scrollspy.js"></script>
    <script>
      $('.subnav').scrollspy();
    </script>
  </head>
  <body data-spy="scroll">
    <div class='navbar navbar-fixed-top'>
      <div class='navbar-inner'>
        <div class='container'>
          <a class='btn btn-navbar' data-target='.nav-collapse' data-toggle='collapse'>
            <span class='icon-bar'></span>
            <span class='icon-bar'></span>
            <span class='icon-bar'></span>
          </a>
          <a class='brand' href='/'>Ops Dashboard</a>
          <div class='nav-collapse'>
            <ul class='nav'>
              <li id='overview'>
                <a href='/'>Overview</a>
              </li>
              <li id='bare_metal'>
                <a href='/bare_metal'>Bare Metal</a>
              </li>
              <li>
                <a href='#'>Nodes</a>
              </li>
              <li>
                <a href='#'>Network</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <%= erb :subnav %>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
