<form method="post" action="<%= @property_action %>" class="form-horizontal">
  <input type="hidden" name="_method" value="delete">

  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3><%= @title %></h3>
  </div>

  <div class="modal-body">
    <div class="control-group">
      <label class="control-label" for="property-key">Key</label>
      <div class="controls">
        <select id="property-key" name="property-key">
          <% @properties.keys.sort.each do |key| %>
            <option value="<%= key %>"><%= key %></option>
          <% end %>
        </select>
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn" data-dismiss="modal">Cancel</button>
    <button type="submit" class="btn btn-danger">Delete Key</button>
  </div>
</form>
