<script>
  $('#search').addClass('active');
</script>
<header class="jumbotron subhead">
  <h1>Nodes</h1>
  <p class="lead">Search for tings.</p>
</header>

<div>Hello Morld</div>
<ul>
  <% @results.each do |result_set| %>
    <% result_set.each do |result| %>
      <li><%= result.hostname %></li>
    <% end %> 
  <% end %>
</ul>
