<% if @subnav %>
<div class="container-fluid">
  <div class="subnav subnav-fixed">
    <ul class="nav nav-pills">
      <% @subnav.each do |link| %>
        <li><a href="#<%= link[:id] %>"><%= link[:name] %></a></li>
      <% end %>
    </ul>
  </div>
</div>
<% end %>
