<li class="dropdown">
  <a class="dropdown-toggle" data-toggle="dropdown" href="#">Settings<b class="caret"></b></a>
  <ul class="dropdown-menu">
    <li><a href="/user/<%= @user.username %>">My Profile</a></li>
    <li class="divider"></li>
    <% menu_sections.each do |section| %>
      <% section.links.each do |link| %>
        <li><a href="<%= link[:href] %>"><%= link[:display] %></a></li>
      <% end %>
      <li class="divider"></li>
    <% end %>
    <li><a href="/logout">Logout</a></li>
  </ul>
</li>
